* {
    /* height & width now includes border & padding */
    box-sizing: border-box;
  }

body {
    background-image: url('../Memory-Card-Images/A-Space-Background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #22144b;
    margin: 0 0 7vmin 0;
    font-family: 'Josefin Sans', sans-serif;
    color: pink;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
  }

header {
    margin-top: 2vmin;
    font-size: 6vmin;
    font-weight: bold;
}

h1 {
    font-size: 3.5vmin;
}

#deck-selector {
    font-size: 2vmin;
    background-color: rgba(155,238,242.5);
    height: 5vmin;
    width: 10vmin;
    position: relative;
    color: #22144b;
    text-align: center;
    margin: -16.5vmin 0 0 auto; 
    border-radius: 0 0 15px 15px;
    padding-top: 2vmin;
}

#board {
    margin-top: 13vmin;
    display: grid;
    grid-template-columns: repeat(8, 12vmin);
    grid-template-rows: repeat(3, 18vmin);
    column-gap: 2vmin;
    row-gap: 4vmin;
}

.back {
    background-image: url('../Memory-Card-Images/Card-Back.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#scores {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    width:80vmin;
    margin: 2vmin auto;
    font-weight: bold;
    font-size: 3vmin;
}

#p1-score {
    width: 40vmin;
    align-items: center;
}

#p2-score {
    width: 40vmin;
    align-items: center;
}

button {
    background-color: pink;
    color: #22144b;
    border: 1vmin solid #22144b;
    border-radius: 12px;
    padding: 1vmin
}